---
import  Navbar  from '../components/Navbar.astro'
import Button from '../components/Button.astro'
import Title from '../components/Title.astro'
import SkillCard from '../components/SkillCard.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro'
import '../styles/global.css';


---

<Layout>

	<main>
		<section class="about">
			<p class="font-semibold mb-27 text-4xl dark:bg-gradient-to-br dark:from-red-300 dark:to-blue-400 bg-gradient-to-br from-red-800 to-blue-900 text-transparent bg-clip-text transition-all">Hola! Bienvenido a mi Portfolio</p>
			<img src="../../public/ship.jpg" alt="profile picture">
			<article>
				<Title text="Software Developer" />
				<!-- CONTAR SOBRE MI ACA -->
				<p class="mt-40">Sobre mi</p>
			</article>
		</section>
		<section id="skills"  class="skills">
			<Title  text="Tecnologías"/>
			<section>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" 			
				title="TypeScript" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" 				
				title="CSS" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" 				
				title="HTML" 
				/>
				<SkillCard
				icon="https://pinguinoruso.netlify.app/reactlogo.png" 				
				title="React" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" 				
				title="JavaScript" 
				/>
				<SkillCard
				icon="https://pinguinoruso.netlify.app/astrologo.svg" 				
				title="Astro" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg"
				title="PostgreSQL" />
				<SkillCard
				icon="https://pinguinoruso.netlify.app/tailwindlogo.png"
				title="TailwindCSS" />
				<SkillCard
				icon="https://pinguinoruso.netlify.app/nodelogo.png"
				title="NodeJS" />
				<SkillCard
				icon="https://raw.githubusercontent.com/devicons/devicon/master/icons/redux/redux-original.svg"
				title="Redux" />
			</section>
		</section>
		<section id="proyectos" class="work">
			<Title text="Mis proyectos"/>
		<section>
			<ProjectCard 
			    img="../../public/CapturaSpaceX.png"
				title="SpaceX Launches"
				description="App de los lanzamientos de SpaceX desarrollado con Astro"
				linkGit="https://github.com/LucasSA97/SpaceX-Launches"
				linkWeb="https://primer-proyecto-demo.vercel.app/"
				name
				/>
			<ProjectCard 
					img="../../public/Thewave.png"
					title="E-Comerce"
					description="Trabajo en equipo"
					linkGit="https://github.com/Fiorellafrini/Proyecto_TheWave_client"
					linkWeb="https://proyecto-the-wave-client-1kip.vercel.app/SectionHome"
					name
					/>
			<ProjectCard 
			    img="../../public/LandingTesta.png"
				title="Landing Tesla"
				description="Clon desarrollado con Astro y TailwindCSS"
				linkGit="https://github.com/LucasSA97/landing-page-tesla"
				
				/>
			<ProjectCard 
			    img="../../public/SpotifyClon.png"
				title="Spotify Demo Clon"
				description="Demo de Spotify desarrollado con Astro y TailwindCSS"
				linkGit="https://github.com/LucasSA97/spotify-clon"
				linkWeb="https://spotify-clon-demo-astro.vercel.app/"
				name
				/>
			<ProjectCard 
			    img="../../public/fireTask.png"
				title="FireTasks"
				description="Proyecto de lista de tareas desarrollado con React"
				linkGit="https://github.com/LucasSA97/task-list-firebase"
				linkWeb="https://fir-shop-7d55b.web.app/"
				name
				/>
			<ProjectCard 
			    img="../../public/ProyectoCountry.png"
				title="Search Country"
				description="Proyecto individual, CRUD"
				linkGit="https://github.com/LucasSA97/Proyecto-Countries"
				
				/>
		</section>
		</section>
		
		
	</main>
	
</Layout>



<style>


	



	.skills {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}

	.skills > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	} 

	.work {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}
	
	.work > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		width: 100%;
		padding: 0px 20px 100px 20px;
	}
	
	@media screen and (max-width: 700px) {
		main {
			margin: 0 auto;
		}

		.about {
			height: 80vh;
		}
		
		.about > img {
			width: 100px;
		}
	}
	
	</style>


