---
import  Navbar  from '../components/Navbar.astro'
import Button from '../components/Button.astro'
import Title from '../components/Title.astro'
import SkillCard from '../components/SkillCard.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro'
import '../styles/global.css';


---

<Layout>

	<main>
		<section class="about">
			<img src="../../public/ship.jpg" alt="profile picture">
			<article>
				<p>Hola! Bienvenido a mi Portfolio</p>
				<Title text="Software Developer" />
				<!-- CONTAR SOBRE MI ACA -->
				<p>Sobre mi</p>
			</article>
		</section>
		<section id="skills"  class="skills">
			<Title  text="Skills & Tecnologías"/>
			<section>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" 			
				title="TypeScript" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" 				
				title="CSS" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" 				
				title="HTML" 
				/>
				<SkillCard
				icon="https://pinguinoruso.netlify.app/reactlogo.png" 				
				title="React" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" 				
				title="JavaScript" 
				/>
				<SkillCard
				icon="https://pinguinoruso.netlify.app/astrologo.svg" 				
				title="Astro" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg"
				title="PostgreSQL" />
				<SkillCard
				icon="https://pinguinoruso.netlify.app/tailwindlogo.png"
				title="TailwindCSS" />
				<SkillCard
				icon="https://pinguinoruso.netlify.app/nodelogo.png"
				title="NodeJS" />
				<SkillCard
				icon="https://raw.githubusercontent.com/devicons/devicon/master/icons/redux/redux-original.svg"
				title="Redux" />
			</section>
		</section>
		<section id="proyectos" class="work">
			<Title text="My work"/>
		<section>
			<ProjectCard 
				title="SpaceX Launches"
				description=""
				link=""/>
			<ProjectCard 
				title="TaskList Firebase"
				description=""
				link=""/>
			<ProjectCard 
				title="E-Comerce"
				description=""
				link=""/>
		</section>
		</section>
		
		
	</main>
	
</Layout>



<style>


	



	.skills {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}

	.skills > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	} 

	.work {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}
	
	.work > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		width: 100%;
		padding: 0px 20px 100px 20px;
	}
	
	@media screen and (max-width: 700px) {
		main {
			margin: 0 auto;
		}

		.about {
			height: 80vh;
		}
		
		.about > img {
			width: 100px;
		}
	}
	
	</style>


