---
const { message, link, target } = Astro.props
---
<a  class="link-btn shadow-md " target={target} href={link}>
    <button class="rounded-md transition-all transform dark:bg-sky-300 bg-blue-900 hover:-translate-y-1 sm:w-24 sm:h-12 md:w-28 md:h-14 lg:w-32 lg:h-16 xl:w-36 xl:h-18">
        <span class="dark:text-black text-white transition-all text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl font-semibold">{message}</span>
    </button>
</a>
