---
const { message, link, target } = Astro.props
---
<a  class="link-btn shadow-md " target={target} href={link}>
    <button class="rounded-md transform transition-transform hover:-translate-y-1  w-16 h-7">
        <span class="text-black dark:text-white transition-all text-sm font-light">{message}</span>
    </button>
</a>
