---
const { message, link, target } = Astro.props
---

<a  target={target} href={link}>
    <button class="bg-white/5
    border dark:border-white/10 border-gray-300
    rounded-lg
    inline-flex justify-center items-center gap-x-2
    py-1 px-2 md:py-2 md:px-4
    text-xs md:text-base
    
    hover:scale-110 hover:bg-white/10">
        <span>{message}</span>
    </button>
</a>
