---
import Button from "./Button.astro";
import ThemeIcon from "./ThemeIcon.astro";
import '../styles/global.css';

---
<nav transition:persist class="navbar fixed top-0 left-0 z-10 w-full h-16 bg-opacity-80 backdrop-blur-md backdrop-saturate-200 flex justify-around items-center p-4">
    <span class="font-semibold">Lucas Sarachu.</span>
    <ul class="flex items-center space-x-8 text-base">
        <Button target="_blank" message="Linkedin" link="https://www.linkedin.com/in/lucas-sarachu/"/>
        <Button target="_blank" message="Github" link="https://github.com/LucasSA97"/>
        <Button target="_blank" message="Contacto" link="mailto:lucassarachu7@gmail.com"/>
        <Button message="Skills" link="#skills"/>
        <Button message="Proyectos" link="#proyectos"/>
    </ul>
    <ThemeIcon />
</nav>
