---
import Button from "./Button.astro";
import ThemeIcon from "./ThemeIcon.astro";
import '../styles/global.css';
import LucasSarachuDev from "../assets/LucasSarachuDev.pdf"
---
<nav transition:persist class="navbar fixed top-0 left-0 z-10 w-full bg-opacity-80 backdrop-blur-xl backdrop-saturate-200 p-2 sm:p-4 flex justify-center items-center mx-full">
    <ul class="flex flex-wrap items-center space-x-2 sm:space-x-4 text-xs sm:text-base">
        <Button message="Sobre Mi" link="#sobremi" />
        <Button message="Skills" link="#skills"/>
        <Button message="Proyectos" link="#proyectos"/>
        <a target="_blank"  href="https://github.com/LucasSA97">
            <i class="fa-brands fa-github text-3xl" ></i>
        </a>
        <a target="_blank"  href="https://www.linkedin.com/in/lucas-sarachu/">
            <i class="fa-brands fa-linkedin text-3xl"></i>
        </a>
        <a target="_blank"  href="mailto:lucassarachu7@gmail.com">
            <i class="fa-solid fa-envelope text-3xl"></i>
        </a>
        <a target="_blank" href={LucasSarachuDev} download="LucasSarachuDev.pdf">
            <i class="fa fa-user-circle text-3xl" aria-hidden="true"></i>
        </a>
        <ThemeIcon  />
    </ul>
</nav>
