---

const { title,  icon } = Astro.props
---


<article class="skill-card flex flex-col justify-center items-center  text-center w-20 bg-orange-400 rounded-lg dark:bg-blue-900 text-white p-5">
    <img src={icon} alt="card icon" class="w-12"/>
    <h3 class="text-base font-light">{title}</h3>
    
</article>

