---
const { text } = Astro.props
---

<h2  class="title transition-all max-w-[450px] text-5xl uppercase text-center font-bold  dark:bg-gradient-to-br dark:from-slate-400 dark:to-gray-200 bg-gradient-to-br from-gray-800 to-blue-900 text-transparent bg-clip-text ">
    {text}
</h2>

<!-- <style>
    h2 {
        max-width: 450px;
        font-size: 40px;
        text-transform: uppercase;
        margin: 0;
        color: #191919;
        text-align: center;
        font-weight: 500;
        background: linear-gradient(89.56deg, #bababa 44.7%, rgba(30, 30, 30, 0) 137.42%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }


</style> -->