---
const { text } = Astro.props
---

<h2  class="title transition-all max-w-[450px] text-5xl uppercase text-center font-bold  dark:bg-gradient-to-br dark:from-slate-400 dark:to-orange-600 bg-gradient-to-br from-gray-800 to-blue-900 text-transparent bg-clip-text ">
    {text}
</h2>

